*{
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

body{
  min-width: 600px; /* your desired width */
  max-width: 100%;
  position: relative;
  vertical-align:middle;
}
