*{
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

body{
  min-width: 400px; /* your desired width */
  min-height: 30px;
  max-width: 100%;
  position: relative;
  vertical-align:middle;
}

.form_add{
  padding: 10px;
  font-size: 16px;
}
